.lottery-page {
  padding: 24px;
  line-height: 48px;
  .today {
    text {
      font-size: 32px;
    }
  }
  .ball-container {
    .list-title {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .balllist-box {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .ball-item {
        margin: 0 20px 20px 0;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-weight: 700;
        font-size: 24px;
        border-radius: 50%;
        border: 1px solid #d9d9d9;
        &:nth-child(8n) {
          margin-right: 0;
        }
        &.active {
          border-color: transparent;
        }
        &.red-ball-item.active {
          color: #fff;
          background-color: red;
        }
        &.blue-ball-item.active {
          color: #fff;
          background-color: blue;
        }
      }
    }
  }

  .footer-btn {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .btn {
      width: 300px;
      height: 70px;
      background-color: red;
      color: #fff;
      border-radius: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .my-optional {
    margin-top: 50px;
    margin-bottom: 60px;
    .optional-list {
      margin-top: 20px;
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .number-box {
          display: flex;
          align-items: center;
          .number {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            border-radius: 50%;
            margin-right: 10px;
            &.red-number {
              background-color: red;
            }
            &.blue-number {
              background-color: blue;
            }
          }
        }
        .delete {
          padding: 5px 15px;
          border-radius: 12px;
          background-color: red;
          color: #fff;
        }
      }
    }
    .tips {
      font-size: 24px;
      color: #ccc;
    }
  }

  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  .strong {
    font-weight: 700;
  }
}